<h1>Shopping List in Memory</h1>
<form action="/" method="get">

  Remember to buy: <input type="text" name="item" />
  <input type="submit" value="Submit" />

</form>

  <br/>
  <br/>

<b> Don't forget </b><br/>
<ul>
  [% FOREACH item in list %]
  <li>[% item %]</li>
  [% END %]
</ul>


<br/>
<br/>
<br/>
<br/>

<b> Headers: </b> <pre> [% req_headers %] </pre>



